body {
    font-family: 'Trebuchet MS', 'Tahoma', Helvetica, Verdana, Arial, sans-serif;
    background: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}
a, a:hover {
    color: #000000;
    font-weight: bold;
}
a img {
    border: 0;
}
.sectionHeading .nav-pills {
    font-size: 14px;
    margin-top: 8px;
}
.sectionHeading .nav-pills a {
    color: #ffffff;
}
.sectionHeading .nav-pills a:hover {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills a:hover {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills .active a {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills .active a:hover {
    background-color: #ffffff;
    color: #000000;
}
.profileImageSmall {
    width: 24px;
    height: 24px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #808080;
    background: white;
}
.profileImage {
    width: 48px;
    height: 48px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #808080;
    background: white;
}
.faded {
    opacity:0.2;
    filter:alpha(opacity=20);
}
.metadata {
    font-size: 12px;
    color: white;
}
.tweet, .newsFeedEntry, .newsEntry, .talk, .job, .event, .person, .tribe, .codeRepo {
    padding: 16px;
    margin-bottom: 20px;
    color: white;
    overflow: hidden;
}

.pagingLinks {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hover {
    border: #eeeeee solid 1px;
}
footer {
    background: #ECF0F1;
    text-align: center;
    padding: 40px 20px 40px 20px;
    border-top: #7F8C8D solid 1px;
    color: #7F8C8D;
}
footer a {
    color: #7F8C8D;
}
.bannerAd {
    text-align: center;
    margin: 16px 0 16px 0;
}
#infographics {
    text-align: center;
}
#infographics h1 {
    line-height: 1.0em;
}
#infographics .banner {
    font-size: 80px;
    line-height: 1.0em;
    color: #000000;
    margin-bottom: 16px;
    margin-top: 32px;
    padding: 32px;
    font-weight: bold;
}
#infographics .statistic {
    font-size: 120px;
    line-height: 1.0em;
    font-weight: bold;
}
#infographics .title {
    font-size: 40px;
    line-height: 1.0em;
    font-weight: bold;
}
#infographics .profileImage {
    margin: 4px 4px 4px 4px;
    width: 48px;
    height: 48px;
}
#infographics .profileImageSmall {
    margin-bottom: 4px;
    width: 24px;
    height: 24px;
}
#infographics .mission {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: bold;
}
.siteHeader {
    color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-bottom: 0;
    border-bottom: #7F8C8D solid 1px;
}
.siteHeaderImage {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #808080;
}
.siteHeaderTagLine {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-top: 32px;
    text-align: center;
    line-height: 1.2;
}

.selected {
    border: #dddddd solid 1px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EAEAEA);
    background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
    color: black;
}

.badge-followersover1000 {
    background: #FFAD40;
}
.badge-followersover5000 {
    background: #999999;
}
.badge-followersunder500 {
    background: #A66002;
}
.badge-followers0 {
    background: #000000;
}

.section {
    background: #7F8C8D;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section h1 {
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.section a {
    color: white;
}

.newsSection {
    background: #000000;
}
#headerNavigation .newsLink {
    color: #000000;
}

.contentSection, .progress .bar-content, .contentSection .progress .bar {
    background: #027602;
}
#headerNavigation .contentLink, #calendar .contentLink {
    color: #027602;
}

.eventsSection, .progress .bar-events {
    background: #DD9300;
}
#headerNavigation .eventsLink, #calendar .eventsLink {
    color: #DD9300;
}

.talksSection, .progress .bar-talks {
    background: #A80000;
}
#headerNavigation .talksLink, #calendar .talksLink {
    color: #A80000;
}

.tweetsSection, .progress .bar-tweets, .tweetsSection .progress .bar {
    background: #044E6B;
}
#headerNavigation .tweetsLink {
    color: #044E6B;
}

.codeSection {
    background: #478FB2;
}
#headerNavigation .codeLink {
    color: #478FB2;
}

.booksSection {
    background: #2C3E50;
}
#headerNavigation .booksLink {
    color: #2C3E50;
}

.jobsSection {
    background-color : #390258;
}

#headerNavigation .jobsLink {
    color: #390258;
}

.creationsSection {
    background: #7F8C8D;
}
#headerNavigation .creationsLink {
    color: #7F8C8D;
}

.embeddedVideo, .embeddedMap {
    padding: 8px;
    text-align: center;
}
.forkMe {
    position: absolute;
    top: 0;
    right: 0;
}

.mostActive {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

#headerNavigation {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#headerNavigation a {
    color: #7F8C8D;
    padding: 10px;
}

.bookCover {
    background: white;
}

.creationScreenshot {
    background: white;
}

#calendar .contentItem {
    font-size: 12px;
    margin-bottom: 10px;
}

#calendar .dayTitle {
    color: #ffffff;
    font-size: 16px;
}