body {
    font-family: 'Trebuchet MS', 'Tahoma', Helvetica, Verdana, Arial, sans-serif;
    background: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}
a, a:hover {
    color: #000000;
    font-weight: bold;
}
a img {
    border: 0;
}
.sectionHeading .nav-pills {
    font-size: 14px;
    margin-top: 8px;
}
.sectionHeading .nav-pills a {
    color: #ffffff;
}
.sectionHeading .nav-pills a:hover {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills a:hover {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills .active a {
    background-color: #ffffff;
    color: #000000;
}
.nav-pills .active a:hover {
    background-color: #ffffff;
    color: #000000;
}
.profileImageSmall {
    width: 24px;
    height: 24px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #808080;
    background: white;
}
.profileImage {
    width: 48px;
    height: 48px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #808080;
    background: white;
}
.faded {
    opacity:0.2;
    filter:alpha(opacity=20);
}
.metadata {
    font-size: 12px;
    color: white;
}
.tweet, .newsFeedEntry, .newsEntry, .talk, .job, .event, .person, .tribe, .codeRepo {
    padding: 16px;
    margin-bottom: 20px;
    color: white;
    overflow: hidden;
}

.pagingLinks {
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hover {
    border: #eeeeee solid 1px;
}
footer {
    background: #aaaaaa;
    text-align: center;
    padding: 40px 20px 40px 20px;
    border-top: gray solid 5px;
    color: #444444;
}
footer a {
    color: #444444;
}
.bannerAd {
    text-align: center;
    margin: 16px 0 16px 0;
}
#infographics {
    text-align: center;
}
#infographics h1 {
    line-height: 1.0em;
}
#infographics .banner {
    font-size: 80px;
    line-height: 1.0em;
    color: #000000;
    margin-bottom: 16px;
    margin-top: 32px;
    padding: 32px;
    font-weight: bold;
}
#infographics .statistic {
    font-size: 120px;
    line-height: 1.0em;
    font-weight: bold;
}
#infographics .title {
    font-size: 40px;
    line-height: 1.0em;
    font-weight: bold;
}
#infographics .profileImage {
    margin: 4px 4px 4px 4px;
    width: 48px;
    height: 48px;
}
#infographics .profileImageSmall {
    margin-bottom: 4px;
    width: 24px;
    height: 24px;
}
#infographics .mission {
    font-size: 24px;
    line-height: 1.4em;
    font-weight: bold;
}
.siteHeader {
    color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-bottom: 0;
    border-bottom: #444444 solid 5px;
}
.siteHeaderImage {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid #808080;
}
.siteHeaderTagLine {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-top: 32px;
    text-align: center;
    line-height: 1.2;
}

.selected {
    border: #dddddd solid 1px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EAEAEA);
    background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
    color: black;
}

.badge-followersover1000 {
    background-color: #FFAD40;
    background-image: linear-gradient(to bottom, #FFAD40, #F3A640);
    background-image: -webkit-linear-gradient(top, #FFAD40, #F3A640);
}
.badge-followersover5000 {
    background-color: #999999;
    background-image: linear-gradient(to bottom, #999999, #AAAAAA);
    background-image: -webkit-linear-gradient(top, #999999, #AAAAAA);
}
.badge-followersunder500 {
    background-color: #A66002;
    background-image: linear-gradient(to bottom, #A66002, #965601);
    background-image: -webkit-linear-gradient(top, #A66002, #965601);
}
.badge-followers0 {
    background-color: #000000;
    background-image: linear-gradient(to bottom, #000000, #000000);
    background-image: -webkit-linear-gradient(top, #000000, #000000);
}

.section {
    background: #555555;
    background: linear-gradient(to bottom, #555555, #888888);
    background: -webkit-linear-gradient(top, #555555, #888888);
    color: white;
}
.section h1 {
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}
.section a {
    color: white;
}

.progress .bar {
    background-color: #888888;
    background-image: linear-gradient(to bottom, #888888, #555555);
    background-image: -webkit-linear-gradient(top, #888888, #555555);
}

.newsSection {
    background-color: #000000;
    background-image: linear-gradient(to bottom, #000000, #111111);
    background-image: -webkit-linear-gradient(top, #000000, #111111);
    padding-top: 20px;
    padding-bottom: 20px;
}

.contentSection {
    background-color: #027602;
    background-image: linear-gradient(to bottom, #027602, #019201);
    background-image: -webkit-linear-gradient(top, #027602, #019201);
}
.progress .bar-content, .contentSection .progress .bar {
    background-color: #019201;
    background-image: linear-gradient(to bottom, #019201, #027602);
    background-image: -webkit-linear-gradient(top, #019201, #027602);
}

.eventsSection {
    background-color: #DD9300;
    background-image: linear-gradient(to bottom, #DD9300, #FFAA00);
    background-image: -webkit-linear-gradient(top, #DD9300, #FFAA00);
}
.progress .bar-events {
    background-color: #FFAA00;
    background-image: linear-gradient(to bottom, #FFAA00, #DD9300);
    background-image: -webkit-linear-gradient(top, #FFAA00, #DD9300);
}

.talksSection {
    background-color: #A80000;
    background-image: linear-gradient(to bottom, #A80000, #BE0000);
    background-image: -webkit-linear-gradient(top, #A80000, #BE0000);
}
.progress .bar-talks {
    background-color: #BE0000;
    background-image: linear-gradient(to bottom, #BE0000, #A80000);
    background-image: -webkit-linear-gradient(top, #BE0000, #A80000);
}

.tweetsSection {
    background-color: #044E6B;
    background-image: linear-gradient(to bottom, #044E6B, #0776A0);
    background-image: -webkit-linear-gradient(top, #044E6B, #0776A0);
}
.progress .bar-tweets, .tweetsSection .progress .bar {
    background-color: #0776A0;
    background-image: linear-gradient(to bottom, #0776A0, #044E6B);
    background-image: -webkit-linear-gradient(top, #0776A0, #044E6B);
}

.codeSection {
    background-color: #478FB2;
    background-image: linear-gradient(to bottom, #478FB2, #5CB8E6);
    background-image: -webkit-linear-gradient(top, #478FB2, #5CB8E6);
}

.jobsSection {
    background-color: #390258;
    background-image: linear-gradient(to bottom, #390258, #48036F);
    background-image: -webkit-linear-gradient(top, #390258, #48036F);
}

.booksSection {
    background-color: #003366;
    background-image: linear-gradient(to bottom, #003366, #194775);
    background-image: -webkit-linear-gradient(top, #003366, #194775);
}

.calendarSection {
    background-color: #000000;
    background-image: linear-gradient(to bottom, #000000, #111111);
    background-image: -webkit-linear-gradient(top, #000000, #111111);
}

.embeddedVideo, .embeddedMap {
    padding: 8px;
    text-align: center;
}
.forkMe {
    position: absolute;
    top: 0;
    right: 0;
}

.mostActive {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

#headerNavigation {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#headerNavigation a {
    color: #888888;
    padding: 10px;
}
#headerNavigation .newsLink {
    color: #000000;
}
#headerNavigation .eventsLink, #calendar .eventsLink {
    color: #FFAA00;
}
#headerNavigation .talksLink, #calendar .talksLink {
    color: #BE0000;
}
#headerNavigation .contentLink, #calendar .contentLink {
    color: #019201;
}
#headerNavigation .tweetsLink {
    color: #0776A0;
}
#headerNavigation .codeLink {
    color: #478FB2;
}
#headerNavigation .jobsLink {
    color: #48036F;
}
#headerNavigation .booksLink {
    color: #003366;
}

.bookCover {
    background: white;
}

#calendar .contentItem {
    font-size: 12px;
    margin-bottom: 10px;
}

#calendar .dayTitle {
    color: gray;
    font-size: 16px;
}